/* Common tags */

.custom-font,
body,
select {
  font-family: -apple-system, 
               BlinkMacSystemFont, 
               "Segoe UI", 
               Roboto, 
               Oxygen,
               Ubuntu,
               Cantarell,
               "Open Sans",
               "Helvetica Neue", 
               sans-serif;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
  color: #fff;
}

label,
a {
  font-weight: normal;
}

a {
  color: #fff;
}

select {
  font-size: 1rem;
}

.main-gradient {
  background: #4568DC;  /* fallback for old browsers */
  background: linear-gradient(to top, #B06AB3, #4568DC);
}

.horz-spacing,
.main-container {
  padding-left: 10px;
  padding-right: 10px;
}

.main-title-spacing {
  padding-top: 20px;
}

.main-container {
  max-width: 960px;
}

.title {
  margin: 0;
  padding: 0;
  line-height: 50px;
  font-size: 1.7rem;
  font-weight: normal;
}

.sub-title {
  font-size: 20px;
  font-weight: normal;
}

.main-container {
  position: relative;
}

.sidebar-wrap {
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar-title-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.sidebar-title {
  margin-bottom: 0;
  margin-top: 0;
}

.custom-selectbox {
  padding: 10px 5px;
  width: 100%;
  background: transparent;
  color: #fff;
  border: 0;
}

.custom-selectbox option {
  color: initial;
}

.custom-selectbox:focus {
  outline: 0;
}

.option-switch-list {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.template-code {
  display: none;
}

.option-switch-item {
  position: relative;
}

.option-switch-label {
  padding: 10px 50px 10px 10px;
  cursor: pointer;
  display: block;
}

.option-switch-label:hover {
  color: rgba(255, 255, 255, 0.8);
}

.option-switch,
.option-switch-toggle-all {
  position: absolute;
  right: 10px;
  top: 12px;
}

.info {
  color: rbga(0, 0, 0, 0.8);
}

.love {
  font-size: 24px;
  font-size: 1.5rem;
}

.footer.is-fixed {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* large screen */
@media screen and (min-width: 1025px) {
  html,
  body,
  .option-switch-list,  
  .boilerplate-code {
    height: 100%;
    overflow-y: auto;
  }

  .main-container {
    margin-left: 301px;
  }

  .option-switch-list {
    width: 300px;
    float: left;
  }

  .horz-spacing,
  .boilerplate-code {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Handle firefox outline while focus */
select:focus,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  outline: 0;
}

/* Helper */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.text-center {
  text-align: center;
}

.mb10 {
  margin-bottom: 10px;
}

.rounded {
  border-radius: 5px;
}

.trans {
  transition: all 200ms ease;
}