<div>
<code class="language-html no-whitespace-normalization">    &lt;script type="text/babel"&gt;
</code>
</div>

<div>
<code class="language-jsx no-whitespace-normalization">
<script type="text/plain">      ReactDOM.render(
</script>
</code>
</div>

<div>
<code class="language-jsx no-whitespace-normalization">
<script type="text/plain">        <h1>Hello, world!</h1>,
</script>
</code>
</div>

<div>
<code class="language-jsx no-whitespace-normalization">
<script type="text/plain">        document.getElementById('root')
</script>
</code>
</div>

<div>
<code class="language-jsx no-whitespace-normalization">
<script type="text/plain">      );
</script>
</code>
</div>

<div>
<code class="language-html no-whitespace-normalization">    &lt;/script&gt;
</code>
</div>

