<div>
<code class="language-html no-whitespace-normalization">
<script type="text/plain">    <script>
  </script>
</code>
</div>

<div>
<code class="language-js no-whitespace-normalization">
<script type="text/plain">      new Vue({
</script>
</code>
</div>

<div>
<code class="language-js no-whitespace-normalization">
&nbsp;&nbsp;
<script type="text/plain">      el: '#app',
</script>
</code>
</div>

<div>
<code class="language-js no-whitespace-normalization">
&nbsp;&nbsp;
<script type="text/plain">      data: {
</script>
</code>
</div>

<div>
<code class="language-js no-whitespace-normalization">
&nbsp;&nbsp;&nbsp;&nbsp;
<script type="text/plain">      message: 'Hello Vue.js!'
</script>
</code>
</div>

<div>
<code class="language-js no-whitespace-normalization">
&nbsp;&nbsp;
<script type="text/plain">      }
</script>
</code>
</div>

<div>
<code class="language-js no-whitespace-normalization">
<script type="text/plain">      });
</script>
</code>
</div>

<code class="language-html no-whitespace-normalization">    &lt;/script&gt;
</code>
</div>
